spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: login
              uri: no://op
              predicates:
                - Path=${application.rest.authentication.path:/api/auth}/login
                - Method=POST
              filters:
                - KeycloakAuthentication
            - id: logout
              uri: no://op
              predicates:
                - Path=${application.rest.authentication.path:/api/auth}/logout
                - Method=POST
              filters:
                - KeycloakLogout
            - id: refresh
              uri: no://op
              predicates:
                - Path=${application.rest.authentication.path:/api/auth}/refresh
                - Method=POST
              filters:
                - KeycloakRefresh
            - id: user
              uri: no://op
              predicates:
                - Path=${application.rest.authentication.path:/api/auth}/user
                - Method=GET
              filters:
                - KeycloakUserInfo
            - id: validate
              uri: no://op
              predicates:
                - Path=${application.rest.authentication.path:/api/auth}/validate
                - Method=GET
              filters:
                - KeycloakValidate
            - id: trainee-service
              uri: http://localhost:${TRAINEE_SERVICE_PORT:8081}
              predicates:
                - Path=/api/trainee/**
              filters:
                - StripPrefix=2
            - id: notification-service
              uri: http://localhost:${NOTIFICATION_SERVICE_PORT:8082}
              predicates:
                - Path=/api/notification/**
              filters:
                - StripPrefix=2
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_URL:http://localhost:8090}/realms/${KEYCLOAK_REALM:growpath}
          jwk-set-uri: ${KEYCLOAK_URL:http://localhost:8090}/realms/${KEYCLOAK_REALM:growpath}/protocol/openid-connect/certs

application:
  rest:
    authentication:
      path: /api/auth

keycloak:
  client:
    id: ${KEYCLOAK_CLIENT_ID:api-gateway}
    secret: ${KEYCLOAK_CLIENT_SECRET:api-gateway-secret}

cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS:http://localhost:3000,http://localhost:5173}
  allowed-methods: ${CORS_ALLOWED_METHODS:GET,POST,PUT,DELETE,OPTIONS}
  allowed-headers: ${CORS_ALLOWED_HEADERS:Content-Type,Authorization}
  allow-credentials: ${CORS_ALLOW_CREDENTIALS:true}

server:
  port: ${API_GATEWAY_PORT:8080}

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.security: DEBUG
